Chatbot.json
[{"id":"eea0b8cd.6387a8","type":"tab","label":"chatbot","disabled":false,"info":""},{"id":"eaaef611.fe86b8","type":"watson-conversation-v1","z":"eea0b8cd.6387a8","name":"","workspaceid":"b9866f04-839a-4676-ac18-85f19d9f6aac","multiuser":false,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/92a2db49-0b4b-4502-933f-716b3b81cad7","timeout":"","optout-learning":false,"x":386.5,"y":72,"wires":[["dc749bcb.463608","b8f380a.557108"]]},{"id":"d34b244b.494d38","type":"inject","z":"eea0b8cd.6387a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Good Morning","payloadType":"str","x":130,"y":60,"wires":[["eaaef611.fe86b8"]]},{"id":"dc749bcb.463608","type":"debug","z":"eea0b8cd.6387a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"b8f380a.557108","type":"function","z":"eea0b8cd.6387a8","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["dc749bcb.463608","6a82281d.669ca8"]]},{"id":"5a7ef51b.affb4c","type":"ui_form","z":"eea0b8cd.6387a8","name":"","label":"","group":"e9592d95.07f8e","order":1,"width":15,"height":1,"options":[{"label":"Type Something...","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":110,"y":160,"wires":[["fd6d7959.3bcbc8"]]},{"id":"fd6d7959.3bcbc8","type":"function","z":"eea0b8cd.6387a8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":240,"wires":[["eaaef611.fe86b8","9987ec7d.8edf2"]]},{"id":"9987ec7d.8edf2","type":"ui_text","z":"eea0b8cd.6387a8","group":"e9592d95.07f8e","order":4,"width":7,"height":1,"name":"","label":"Input: ","format":"{{msg.payload}}","layout":"row-left","x":410,"y":280,"wires":[]},{"id":"6a82281d.669ca8","type":"ui_text","z":"eea0b8cd.6387a8","group":"e9592d95.07f8e","order":8,"width":7,"height":1,"name":"","label":"Response: ","format":"{{msg.payload}}","layout":"row-left","x":650,"y":240,"wires":[]},{"id":"e9592d95.07f8e","type":"ui_group","name":"User Input","tab":"5312b77c.efc2b8","order":1,"disp":true,"width":"15","collapse":false},{"id":"5312b77c.efc2b8","type":"ui_tab","name":"Restaurant Bot","icon":"dashboard","disabled":false,"hidden":false}]